.DS_Store
.eslintcache
.idea
.vscode
.tmp
.vagrant
.box
*.sublime-project
*.sublime-workspace
.sublime-gulp.cache
*.zip
*.new
*_rtl.swig
npm-debug.log
bin
dist/
node_modules/
node_modules_/
bower_components/
/app/styles/backend.scss
.env.json
.env
GridSystem
Mvc
razorgenerator.directives
client-components
package-lock.json
